@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300'>
    
    <link href="/css/error.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- partial:index.partial.html -->
    <div id="container">
        <div id="errorCode">404</div>
        <h1>Not found page<br></h1><h2><a href="/Home/Index/" style="text-decoration: none;">Go back to main page</a></h2>
    </div>

</body>
</html>
