@using EntityLayer.DTOs
@model ResetPasswordDTO
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<div class="container">

    <!-- Verification Entry Jumbotron -->
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h2>Enter the verification code</h2>
                <form method="post" class="form" action="/Session/ResetUpdatePassword">
                    <div class="">
                        <div class="form-group">
                            

                            <input class=" form-control" type="password" placeholder="New Password (8-16 characters)" name="NewPassword" required minlength="8" maxlength="16">
                            <input class=" form-control" type="password" placeholder="Repeat New Password (8-16 characters)" name="PasswordAgain" required minlength="8" maxlength="16">
                            <input class=" form-control" type="text" placeholder="Verify Code" name="verifyCode" required>
                            


                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Reset Account Password</button>
                            <div id="timer"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //Script for timing for 2 minutes before redirecting
    function startTimerAndRedirect() {
        var countdownSeconds = 180;
        var timerElement = document.getElementById("timer");

        var interval = setInterval(function () {
            countdownSeconds--;
            var minutes = Math.floor(countdownSeconds / 60);
            var seconds = countdownSeconds % 60;

            // Update the timer element to show the remaining time
            timerElement.textContent = "Redirecting in: " + minutes + " minutes and " + seconds + " seconds";

            if (countdownSeconds <= 0) {
                clearInterval(interval);
                window.location.href = '@Url.Action("Login", "Session")';
            }
        }, 1000); // Update the timer every 1 second (1000 milliseconds)
    }

    startTimerAndRedirect();

</script>