@using EntityLayer.DTOs
@model DefaultAddressDTO

@{
    ViewData["Title"] = "AddAddresses";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">New Address</h4>
                <form class="form" method="post" action="/Dashboard/AddAddresses">
                    <div class="row">
                        @{
                            var id = int.Parse(Context.Request.Cookies["UserID"]);
                        }
                        <input hidden value="@id" name="UserID" />
                        <div class="col-md-6 form-group">
                            <label>AddressName</label>
                            <input class="form-control" type="text" name="AddressName" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>CountryName</label>
                            <input class="form-control" type="text" name="CountryName" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>CityName</label>
                            <input class="form-control" type="text" name="CityName" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>TownName</label>
                            <input class="form-control" type="text"  name="TownName" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>DistrictName</label>
                            <input class="form-control" type="text"  name="DistrictName" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>PostCode</label>
                            <input class="form-control" type="text"  name="PostCode" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>AddressText</label>
                            <input class="form-control" type="text" name="AddressText" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="card-footer border-secondary bg-transparent">
                                <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Add Address</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
